[package]
name = "feed-rs"
version = "1.3.0"
edition = '2021'
authors = ["Hiroki Kumamoto <kumabook@live.jp>", "Mark Pritchard <mpritcha@gmail.com>"]
include = [
    "**/*.rs",
    "Cargo.toml",
    "LICENSE-MIT",
    "README.md",
    "fixture/*"
]
license = "MIT"
homepage = "https://github.com/feed-rs/feed-rs"
repository = "https://github.com/feed-rs/feed-rs.git"
description = "A unified feed parser that handles Atom, RSS 2.0, RSS 1.0, RSS 0.x and JSON Feed"
keywords = ["feed", "rss", "atom", "json", "jsonfeed"]
categories = ["parser-implementations"]
readme = "README.md"

[badges]
travis-ci = { repository = "feed-rs/feed-rs", branch = "master" }

[dependencies]
chrono = { version = "0.4.26", default-features = false }
lazy_static = "1.4.0"
mime = "0.3.17"
quick-xml = { version = "0.29.0", features = ["encoding"] }
regex = "1.8.4"
serde = { version = "1.0.164", features = ["derive"] }
serde_json = "1.0.97"
siphasher = "0.3.10"
url = "2.4.0"
uuid = { version = "1.3.4", features = ["v4"] }
